@model IEnumerable<Garage3.Models.ParkingSlot>

<div style="width: 540px">
	@foreach (var item in Model)
	{
		var cls = "slot";
		if (item.VehicleId != null)
		{
			cls += " slot-occupied";
		}
		<div class="@cls">
			@item.Id
		</div>
	}
</div>