@{
    ViewBag.Title = "History";
}

@section scripts {
    <script src="~/App/history.js"></script>
}

<h2>History</h2>

<div class="row">
    <div data-ng-app="history" class="col-sm-12">
        <div data-ng-controller="historyCtrl">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Filtered display</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon widthFix">Reg nr</span>
                                <input data-ng-model="filterResults" class="form-control" type="search" placeholder="Type in registration number" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon widthFix">Type</span>
                                <select class="form-control" name="typeId" data-ng-model="typeId">
                                    <option selected value="-1">Show All Types</option>
                                    <option data-ng-repeat="vt in vehicleTypes" value="{{ vt.id }}">{{ vt.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 clear">
                            <div class="input-group">
                                <span class="input-group-addon widthFix">Owner</span>
                                <input data-ng-model="filterResultsOwn" class="form-control input-group" type="search" placeholder="Type in owner name" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon widthFix">Price</span>
                                <input data-ng-model="filterPrice" class="form-control" type="number" placeholder="Type in price per hour" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>

                                <th class="HoverHand" ng-click="OrderBySID(sortID)">{{slot_id}}</th>
                                <th class="HoverHand" ng-click="OrderByDIn(sortID)">{{date_in}}</th>
                                <th class="HoverHand" ng-click="OrderByDOut(sortID)">{{date_out}}</th>
                                <th class="HoverHand" ng-click="OrderByDur(sortID)">{{duration}} (h)</th>
                                <th>Price</th>
                                <th>Reg nr</th>
                                <th>Type</th>
                                <th>Owner</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="p in parkings | filter:filterReg | filter:filterOwner | filter:typeFilterOn |orderBy:sortID">

                                <td>{{ p.slot_id }}</td>
                                <td>{{ p.date_in | date:'short' }}</td>
                                <td>{{ p.date_out | date:'short' }}</td>
                                <td>{{ p.duration }}</td>
                                <td>{{ price(p) }}</td>
                                <td>{{ p.vehicle.reg}}</td>
                                <td>{{ p.vehicle.type.name }}</td>
                                <td>{{ p.vehicle.owner.name}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
