
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>

    <h1>GARAGE 3.0</h1>

    <p class="lead">Taking care of your vehicles for a long long time.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Park your vehicle for limited amount of time or check out parked vehicles.
        </p>
        <p><a class="btn btn-default" href="~/Garage/Manage">Manage parking &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List vehicles</h2>
        <p>Vehicles in the Garage.</p><br>
        <p><a class="btn btn-default" href="~/Vehicle/List">List Vehicles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Garage History</h2>
        <p>View a history of parking in the Garage. Recommended for Admins only.</p>
        <p><a class="btn btn-default" href="~/Garage/History">Overview</a></p>
    </div>
</div>
